*.pdf
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.json
*.jsonl
TP_FineTuning_LoRA_Nav4Rail.ipynb
finetune/logs/*
finetune/outputs/*
webapp/.venv/
webapp/__pycache__/
*.pyc
*.gguf
*.bin
*.onnx
*.pt
*.pth
*.ckpt
*.h5
*.zip
*.tar.gz
*.tar
*.tar.bz2
*.7z
finetune_Nav2/train/__pycache__/model_registry.cpython-310.pyc
finetune_Nav2/train/__pycache__/prompting.cpython-310.pyc
